In [77]:
import pandas as pd
import numpy as np
a = {"author_id" : [1, 2, 3], "author_name": ['Тургенев', 'Чехов', 'Островский']}
authors = pd.DataFrame(a)
print(authors)
print("####")
b = {"author_id":[1, 1, 1, 2, 2, 3, 3], 
     "book_title":['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 
     "price":[450, 300, 350, 500, 450, 370, 290]}
book = pd.DataFrame(b)
print(book)
print("###")
authors_price = pd.merge(authors, book, on='author_id', how='inner')
print(authors_price)
print("###")
top5 = authors_price.nlargest(5, "price")
groupby = authors_price.groupby("author_name")
authors_stat_1 = pd.merge(pd.DataFrame(groupby["price"].min()), pd.DataFrame(groupby["price"].max()),
                        on='author_name', how='inner')
#authors_stat.columns = ["MIN", "MAX", "MEAN"]
authors_stat = pd.merge(pd.DataFrame(groupby["price"].mean()), authors_stat_1, on='author_name', how='inner')
authors_stat.columns = ['mean', 'min', 'max']
print(authors_stat)
print("###")
authors_price["cover"] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
print(authors_price)
print("###")
table = pd.pivot_table(authors_price, values='price', index=["author_name"], columns=['cover'], aggfunc=np.sum)
table["твердая"].fillna(0, inplace=True)
table["мягкая"].fillna(0, inplace=True)
print(table)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский
####
   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290
###
   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290
###
                   mean  min  max
author_name
Островский   330.000000  290  370
Тургенев     366.666667  300  450
Чехов        475.000000  450  500
###
   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая
###
cover        мягкая  твердая
author_name
Островский    660.0      0.0
Тургенев      650.0    450.0
Чехов           0.0    950.0